/*
Copyright © 2014, F. Perdreau, Radboud University Nijmegen
=======
This file is part of RankMyDrawings.

RankMyDrawings is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RankMyDrawings is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with RankMyDrawings.  If not, see <http://www.gnu.org/licenses/>.

*/

/* *********************************************************************/
/* Global overlay */
/* *********************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* *********************************************************************/
/* Publication modal window*/
/* *********************************************************************/
.popupContainer{
	position:absolute;
	width:400px;
	height: auto;
	left:45%;
	top:30px;
	background: #FFF;
}

.action_btns {
	display: inline-block;
	width: 100%;
	margin: 20px 0 10px;
	clear: both;
	text-decoration: none;
	color:#ED6347;
}

#modal_trigger {}

.error {
    display: none;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #CF5151; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #BE4141;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {
	display:block;
	margin: 20px 0 10px;
	clear: both;
	text-align: center;
	text-decoration: none;
	color:#ED6347;}

/* change password Form */
.user_changepw {display: none;}
.user_changepw label {display: block; margin-bottom:5px;}
.user_changepw input[type="text"], .user_changepw input[type="email"], .user_changepw input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_changepw input[type="checkbox"] {float:left; margin-right:5px;}
.user_changepw input[type="checkbox"]+label {float:left;}
.user_changepw .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* *********************************************************************/
/* Item modal window*/
/* *********************************************************************/

.item_popupContainer{
    position:absolute;
    width:800px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

/* publication form */
.item_description {display: none;}
.item_delete {display: none;}

/* *********************************************************************/
/* Contact modal window*/
/* *********************************************************************/
.contact_container {
    position:absolute;
    width:800px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

/* change password Form */
.send_msg {display: none;}
.send_msg label {display: block; margin-bottom:5px;}
.send_msg input[type="text"], .send_msg input[type="email"], .send_msg input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.send_msg input[type="checkbox"] {float:left; margin-right:5px;}
.send_msg input[type="checkbox"]+label {float:left;}
.send_msg .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
