/*
Copyright © 2014, F. Perdreau, Radboud University Nijmegen
=======
This file is part of RankMyDrawings.

RankMyDrawings is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RankMyDrawings is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with RankMyDrawings.  If not, see <http://www.gnu.org/licenses/>.

*/

/* *********************************************************************/
/* Modal dialog box
/* *********************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Publication modal window */
.modalContainer {
    position:absolute;
    padding: 0;
    min-width: 300px;
    width: auto;
    height: auto;
    top:80px;
}

.modalContainer .modal_section {
    display: none;
    margin: 0;
    width: auto;
    position: relative;
}

.popupBody {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
}

.modal_section {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    max-width: 600px;
    width: 95%;
    padding: 0 10px 10px 10px;
}

/* Popup Styles*/
.popupHeader {
    font-size:1.2em;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom:1px solid #DDD;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.modal_close {
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
    padding:10px 15px;
    background: url('../images/close.png') no-repeat center center;
    background-color: rgba(255, 255, 255, .5);
    background-size: 50% auto;
    cursor: pointer;
    color:#aaa;
    font-size:1.2em;
}

.action_btns {
    width: 100%;
    display: inline-block;
    margin: 20px 0 10px;
    clear: both;
    text-decoration: none;
    color:#ED6347;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: rgba(207,81,81,1); color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #BE4141;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%; text-align: right;}

.forgot_password {
    margin: 10px auto 10px auto;
    text-align: center;
    text-decoration: none;
    color:#ED6347;
}