/*
Copyright © 2014, F. Perdreau, Radboud University Nijmegen
=======
This file is part of RankMyDrawings.

RankMyDrawings is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RankMyDrawings is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with RankMyDrawings.  If not, see <http://www.gnu.org/licenses/>.

*/

/* *********************************************************************/
/* Forms & Input field styles
/* *********************************************************************/
.formcontrol {
    vertical-align: top;
    margin: 5px;
    font-size: 0;
    min-width: 60%;
    max-width: 100%;
}

.formcontrol>div.inputFeedback {
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    background: rgba(207,81,81,.8);
    color: #FFF;
    border: 1px solid rgba(207,81,81,.5);
    max-width: 20px;
    min-width: 0;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
}

.formcontrol>div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 4px 2px 4px 10px;

    font-size: 12px;
    font-weight: 300;

    line-height: 20px;
    min-height: 20px;

    min-width: 40%;
    border: 1px solid rgba(207, 81, 81, .3);
    color: #777;
}

/* Div specific to tinyMCE textarea */
.formcontrol>div.mce-tinymce {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;

    font-size: 12px;
    font-weight: 300;

    color: #777;
}

form {
    position: relative;
    max-width: 100%;
    margin: auto;
}

label{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(207,81,81,1);
    border: 1px solid rgba(207,81,81,1);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #EEE;
    padding: 4px 1px;

    min-width: 110px;
    height: 20px;
    line-height: 20px;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], .formcontrol select, textarea {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 4px 2px 4px 10px;

    font-size: 12px;
    font-weight: 300;

    line-height: 20px;
    min-height: 20px;

    min-width: 10%;
    max-width: 50%;
    border: 1px solid rgba(207, 81, 81, .3);
    color: #777;
}

input[type='date'] {
    padding: 3px 2px 3px 10px;
}

select {
    -webkit-appearance: menulist-button;
    height: 30px;
    text-transform: capitalize;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-bottom: 1px solid rgba(207,81,81,1);
}

input[type='radio'] {
    display: inline-block;
    width: 10%;
}

textarea {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    resize: none;

    /* Size and position */
    width: 90%;
    min-height: 150px;
}

input.input_opt {
    display: inline-block;
    padding: 5px 2px 5px 2px;
    min-width: 100px;
    width: auto;
    border:1px solid rgba(207, 81, 81, .3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    margin: 0 auto;
}

select.select_opt {
    min-width: 30px;
    width: auto;
    border: 1px solid rgba(207, 81, 81, .3);
    padding: 5px 4px;
    color: #555;
}

/* Submit and action buttons */
.submit_btns {
    margin: 0 auto 0 0;
    top: 0;
    right: 20px;
    text-align: right;
    font-size:0;
}

.submit_btns>div {
    display: inline-block;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    background: rgba(249, 249, 249, 1); /* Set button background */
    border: 1px solid rgba(207, 81, 81, 1); /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
    transition: all 0.3s ease 0s;
}

input[type="submit"]:hover, input[type="button"]:hover {
    color: #FFF;
    background: rgba(207, 81, 81, 1); /* Set button background */
    padding: 8px; /* Add some more space around our button text */
}

input[type="submit"]:active, input[type="button"]:active {
    color: #FFF;
    background: rgba(207, 81, 81, .5); /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

input[type='button'].addBtn {
    font-weight: 500;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    line-height: 28px;
    font-size: 20px;
}

/* Semi-transparent layer added on top of a form in order to show a feedback */
.feedbackForm {
    position : absolute;
    z-index : 900;
    top : 0;
    left : 0;
    display : inline-flex;
    text-align :center;
    min-width : 100%;
    min-height : 100%;
    background : rgba(255,255,255,.9);
    margin : auto;
}

.feedbackForm > div {
    vertical-align: middle;
}

/* Change background color of invalid fields */
.wrongField {
    background: rgba(200,0,0,.1);
}

/* Feedback div to display other messages */
.feedbackSubmit {
    margin: 0;
    box-sizing: border-box;

    padding: 8px 3px 9px 3px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    background: rgba(200, 0, 0, .5);

    display: inline-block;
    color: #FFF;
    min-width: 0;
    max-width: 70%;
    text-align: center;

    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feedback {
    margin: 0;
    padding: 0;
}

.formRequired {
    margin: 0;
    padding: 8px 3px 9px 3px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    background: rgba(200, 0, 0, .5);
}

/* *********************************************************************/
/* HTML Structure
/* *********************************************************************/

#sign {
    padding: 5px 50px;
    display: inline-block;
    text-align: right;
}

#sign>div {
    vertical-align: middle;
    display:inline-block;
    margin: 5px 10px;
    color: #cccccc;
    font-size: 0.9em;
}

#appTitle {
    text-transform: uppercase;
    color: #cccccc;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

#appVersion {
    border-top: 1px solid rgba(150,150,150,.5);
    color: rgba(150,150,150,.5);
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 200;
}

#colBar {
    display: block;
    width: 100%;
    background: rgba(150,150,150,.5);
    height: 30px;
}

/* *********************************************************************/
/* Body
/* *********************************************************************/
html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 1em;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgba(207,81,81,1);
}

a:hover {
    color: #cccccc;
}

/* *********************************************************************/
/* Body
/* *********************************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(68, 68, 68, 1);
    text-align: justify;
    padding: 0;
    height: 40px;
    box-sizing: border-box;
    font-size: 0;

}

header #sitetitle {
    background-color: rgba(255, 255, 255, .5);
    border-right: 3px solid rgba(255, 255, 255, .1);
    display: inline-block;
    width: 205px;
    font-size: 25px;
    text-transform: capitalize;
    padding: 2px 5px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
}

header .headerbox {
    float: right;
    text-align: center;
    background-color: rgba(51, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-left: 1px double #cccccc;
    padding: 5px;
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 28px;
    font-size: 13px;
    width: 75px;
    text-transform: uppercase;
}

header .headerbox:hover {
    background-color: rgba(80, 80, 80, 1);
}

.menu_btn {
    display: inline-block;
    vertical-align: top;

    width: 30px;
    height: 40px;
    background: url('../images/menu.png') no-repeat center center;
    background-size: 80% auto;
    background-color: rgba(255,255,255,.5);

    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu_btn:hover{
    background-color: rgba(255,255,255,.8);
}

.menu_btn>img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

/* Menu */
li {
    text-transform: uppercase;
}

li a {
    color: rgba(207,81,81,1);
}

.sideMenu {
    position: fixed;
    z-index: 800;
    top: 40px;
    left: -250px;
    width: 250px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(68,68,68,1);
    border-right: 5px solid rgba(207,81,81,1);
    border-top: 5px solid rgba(207,81,81,1);
}

.sideMenu nav {
    display: block;
    max-width: 250px;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px #555;
}

.sideMenu nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sideMenu nav li {
    text-align: left;
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #eee;
    padding: 10px;
    cursor: pointer;
}

.sideMenu nav li:hover {
    border-bottom: 1px solid rgba(34,34,34,.5);
    background: rgba(255,255,255,.5);
    color: rgba(68,68,68,1);
}

.sideMenu nav li:hover>a {
    color: #ffffff;
}

.activepage {
    color: #cccccc;
}

/* *********************************************************************/
/* HTML Structure
/* *********************************************************************/
#core {
    position: relative;
    max-width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    min-height: 768px;
}

/* *********************************************************************/
/* Footer
/* *********************************************************************/
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
    margin: 20px auto 0 auto;
    background-color: rgba(50,50,50,1);
    padding: 0;
}

#sign {
    padding: 5px 50px;
}

#sign>div {
    vertical-align: middle;
    display:inline-block;
    margin: 5px 10px;
    color: #cccccc;
    font-size: 0.9em;
}

#appTitle {
    text-transform: uppercase;
    color: #cccccc;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
}

#appVersion {
    border-top: 1px solid rgba(150,150,150,.5);
    color: rgba(150,150,150,.5);
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 200;
}

#colBar {
    display: block;
    width: 100%;
    background: rgba(150,150,150,.5);
    height: 30px;
}

/* *********************************************************************/
/* Page Content
/* *********************************************************************/
.loadingDiv {
    position:   absolute;
    z-index:    90;
    top:        0;
    left:       0;
    width:      100%;
    height: 100%;
    background: rgba( 255, 255, 255, .7)
    url('../images/spinner.gif')
    50% 50%
    no-repeat;
    background-size: 50px;
}

#pagecontent {
    display: none;
    position: relative;
    padding: 50px 0 50px 0;
    margin: 0 auto;
    max-width: 70%;
    min-width: 320px;
}

.plugins {
    display: block;
}

.plugins>div {
    display: inline-block;
}

.page_description {
    text-align: justify;
    margin: 10px auto 10px auto;
    width: 80%;
    color: rgba(68,68,68,1);
    font-style: italic;
    font-size: 14px; /* Set message font size  */
    padding: 10px; /* Some padding to make some more space for our text  */
    border: 2px dashed rgba(207,81,81,.5); /* Add a border arround our status message   */
}

section {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    display: block;
    font-size: 16px;
    margin: 20px auto 20px auto;
    padding: 0 10px 20px 10px;
    background-color: rgba(200,200,200,.1);
    border: 1px solid #ddd;
    min-width: 300px;
}

section>div {
    margin: auto;
}

.section_container {
    width: 100%;
    text-align: justify;
    margin:auto;
}

.section_container>div, .section_container>section{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    min-width: 300px;
    text-align: left;
}

.section_container:after{
    content: "";
    width: 100%;
    display: inline-block;
}

.half_section>div{
    vertical-align: top;
}

.section_left {
    margin-right: 20px;
}

.row_container {
    position: relative;
    box-sizing: border-box;
    text-align: justify;
}

.row_container>div {
    display: inline-block;
    vertical-align: top;
}

.row_container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

h1 {
    display: block;
    margin-left: -10px;
    color: #555555;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
    display: block;
    color: rgba(68,68,68,1);
    margin: 5px 0 20px 5px;
    padding: 0;
    vertical-align: top;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;

}

h3 {
    display: block;
    font-size: 1.1em;
    margin: 20px 0 5px auto;
    padding: 0;
    border-top: 1px solid #999999;
    color: #444444;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: 500;
}

/* *********************************************************************/
/* Home Page
/* *********************************************************************/
.user_info {
    margin: 50px auto;
    width: 50%;
    text-align: justify;
    padding: 30px;
    background-color: rgba(127,127,127,.1);
}

/* *********************************************************************/
/* Consent form
/* *********************************************************************/
.action_btn {
    clear: both;
    width: 50%;
    margin: 10px auto;
    display: block;
    text-align: justify;
    text-decoration: none;
}

.action_btn>div {
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 70px;
    margin-left: 0;
}

.action_btn:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.part_btn:hover {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.decline {
    padding:10px 10px;
    background: rgba(207, 81, 81, 1);
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1);
}

.decline:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(207, 81, 81, 1);
    border: 1px solid rgba(207, 81, 81, 1);

}

.agree {
    padding:10px 20px;
    background: rgba(255, 255, 255, 1);
    color: rgba(207, 81, 81, 1);
    border: 1px solid rgba(207, 81, 81, 1);
}

.agree:hover {
    background: rgba(207, 81, 81, 1);
    color: #FFFFFF;
}

/* *********************************************************************/
/* Instructions
/* *********************************************************************/
.instructions {
    display: inline-block;
    width: 35%;
    min-width: 300px;
    vertical-align: top;
}

.example {
    vertical-align: top;
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    min-width: 250px;
    box-sizing: border-box;
}

.example>img {
    width: 100%;
}

.start_btn {
    text-align: center;
    margin: auto;
    width: 100px;
    cursor: pointer;
    padding:10px 20px;
    background: #FFFFFF;
    color: rgba(207, 81, 81, 1);
    border: 1px solid rgba(207, 81, 81, 1);
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

.start_btn:hover {
    background: rgba(207, 81, 81, 1);
    color: rgba(255, 255, 255, 1);
}

/* *********************************************************************/
/* Experiment
/* *********************************************************************/
#progressbar {
    display: inline-block;
    height: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border: 1px solid rgba(200, 200, 200, .8);
    border-radius: 5px;
    padding: 0 5px;
    margin: auto;
    color: rgba(64, 64, 64, 1);
}

#experiment_frame {
    width: 100%;
    min-height: 400px;
}

.progress {
    display: block;
    width: auto;
    height: auto;
    padding: 5px;
    position: fixed;
    top: 60px;
    right: 0;
    font-size: 0;
    box-sizing: border-box;
    text-align: center;
    background: rgba(64, 64, 64, .9);
}

.Timer {
    display: inline-block;
}

.picture {
    width: 500px;
    min-height: 300px;
}

.original {
    margin: auto;
    text-align: center;
}

.original_container {
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: justify;
}

.img_container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: justify;
    display: block;
}

.img_container>div {
    display: inline-block;
}

.img_container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.drawing {
    box-shadow: 0 0 12px #555;
    width: auto;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.drawing_img {
    width: 500px;
    height: auto;
}

.drawing:hover {
    box-shadow: 0 0 12px #FF0000;
    border: 1px solid #999999;
}

/************************************************
* Modal dialog
************************************************/
.item_caps {
    display: block;
    width: 30%;
    background-color: rgba(255,255,255,.7);
    padding: 10px;
}

#item_title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.item_img {
    display: block;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 0px;
    margin: 10px auto;
}

.action_btn {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.action_btn>div {
    vertical-align: top;
    display: inline-block;
}

.del_item {
    cursor: pointer;
    padding: 10px 10px;
    height: 20px;
    background-color: rgba(207, 81, 81, 1);
    color: #EEEEEE;
    width: 100px;
    text-align: center;
}

.del_item:hover {
    background-color: #EEEEEE;
    color: rgba(207, 81, 81, 1);
}

/* Login and register forms */
.missing_field {
	background-color: rgba(127,0,0,.5);
}

.login_form {
    display: none;
}

/************************************************
* Login window
************************************************/
.login-container {
    display: inline-block;
    clear: both;
    width: 90%;
    text-align: justify;
    margin: auto;
    padding: 0;
    vertical-align: top;
}

.login-container > div {
    display: inline-block;
    vertical-align: top;
}

.login-container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.login {
    width: 30%;
}

/************************************************
* Drawing management
************************************************/
#new_refdraw {
    max-width: 600px;
}

.refdraw-add {
    padding: 10px;
    margin: 10px auto 10px auto;
}

#ref_new_name{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;

}

.refupload{
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.newref_label {
    font-size: 1.2em;
    font-weight: 400;
    display: block;
}

.refdraw-div {
    max-width: 300px;
    padding: 0;
    margin-top: 10px;
    text-align: justify;
}

.refdraw-content {
    margin: auto;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    background-color: rgba(68,68,68,1);
}

.refdraw-name {
    background-color: rgba(207, 81, 81, 1);
    width: auto;
    color: #eeeeee;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(207, 81, 81, 1);
    display: inline-block;
    vertical-align: top;
}

.refdraw-settings {
    background: url('../images/settings.png') no-repeat center center;
    background-size: 50% auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
}

.refdraw-settings:hover{
    background-color: rgba(207, 81, 81, .5);
}

.refdraw-desc {
    display: inline-block;
    text-align: center;
    min-width: 250px;
    height: auto;
    padding: 0;
    margin: auto;
    vertical-align: middle;
    background-color: rgba(68,68,68,1);
}

.refdraw-info {
    padding: 5px;
    background-color: #eeeeee;
    color: #555555;
    border-top: 1px dashed #555555;
    border-bottom: 1px dashed #555555;
}

.refdraw-half {
    vertical-align: top;
    text-align: center;
    min-width: 250px;
    display: inline-block;
}

.refdraw-items {
    margin: auto;
    width: 500px;
    height: auto;
    background-color: #666666;
    padding: 10px;
    border: 1px solid #222222;
}

.refdraw-thumb {
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    background-color: rgba(34,34,34,1);
    margin: 10px auto 10px auto;
    width: 200px;
    height: 150px;
    text-align: center;
}

.ref-thumb {
	width: 100px;
	height: auto;
}

.refdraw-delbutton {
    vertical-align: top;
    display: inline-block;

    width: 30px;
    height: 30px;
    background: url('../images/close.png') no-repeat center center;
    background-size: 50% auto;
    cursor: pointer;
    color:#aaa;
    font-size:1.2em;
}

.refdraw-delbutton:hover{
    background-color: rgba(207, 81, 81, .5);
}

.sortitems {
    margin-bottom: 10px;
}

.upload_msg {
    padding: 5px;
    background-color: rgba(207, 81, 81, .5);
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
}

.delete_btn_item {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 20px;
    height: 20px;
    background: url('../images/close.png') no-repeat center center;
    background-size: 50% auto;
    background-color: rgba(68, 68, 68, .5);
    cursor: pointer;
}

.delete_btn_item:hover {
    background-color: rgba(207, 81, 81, .5);
}

.item {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 100px;
    height: 80px;
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.item:hover{
    background-color: #dddddd;
}

.thumb {
    width: 90%;
    margin: auto;
}

.refdraw-header {
    box-sizing: border-box;
    font-size: 0;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid rgba(207, 81, 81, 1);
    color: #eeeeee;
    padding: 0;
    font-weight: bold;
    height: 30px;
}

.refdraw-param {
    background-color: rgba(255,255,255,.9);
    margin: 20px 20px auto auto;
    border: 1px dashed rgba(68, 68, 68, .3);
}

.section_param {
    padding: 10px;
}

.section_param-header {
     font-size: 15px;
     font-weight: bold;
}

.add_lang {
    display: inline-block;
    margin-left: 20px;
}

.div_display_content {
    padding: 10px;
    cursor: pointer;
    margin: auto;
}

/* *********************************************************************/
/* Text/Messages
/* *********************************************************************/
.logoutWarning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: auto;
    background-color: rgba(164, 33, 27, .9);
    color: #FFF;
    padding: 10px;
}

#nopage {
    width: 80%;
    font-size: 1.1em;
    color: rgba(207,81,81,1);
    text-transform: uppercase;
}

#warning {
    margin: auto;
    color: #990000;
    padding: 10px; /* Some padding to make some more space for our text  */
    background-color: rgba(127,0,0,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

#status {
    margin: auto;
    color: #000099;
    background-color: rgba(0,0,127,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

#success {
    margin: auto;
    color: #009900;
    padding: 10px; /* Some padding to make some more space for our text  */
    background-color: rgba(0,127,0,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

.info {
    display: inline-block;
    max-width: 250px;
    box-sizing: border-box;
    color: rgba(62, 95, 163, 1);
    font-size: 10px; /* Set message font size  */
    padding: 5px; /* Some padding to make some more space for our text  */
    background-color: rgba(62, 95, 163, .1); /* Add a background color to our status message   */
    border: 1px solid rgba(62, 95, 163, .8); /* Add a border arround our status message   */
}

.page_description {
    text-align: justify;
    margin: 10px auto 10px auto;
    width: 80%;
    color: #222222;
    font-style: italic;
    font-size: 14px; /* Set message font size  */
    padding: 10px; /* Some padding to make some more space for our text  */
    background: rgba(207,81,81,.1); /* Add a background color to our status message   */
    border: 1px solid rgba(207,81,81,.2); /* Add a border arround our status message   */
}

/* Home sections */
.section_header {
    display: block;
    position: relative;
    background-color: rgba(187,81,81,1);
    color: #eeeeee;
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    margin: 20px auto -10px auto;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    z-index: 11;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
}

.section_content {
    display: block;
    font-size: 16px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: rgba(200,200,200,.1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
}

.section_page {
    display: block;
    width: 100%;
    text-align: center;
}

.half_section {
    vertical-align: top;
    width: 60%;
    display: inline-block;
}

.half_section>div{
    vertical-align: top;
}

.section_left {
}

.section_right {
    width: 30%;
    margin-left: 20px;
}

.section_sub {
    display: block;
    font-size: 16px;
    margin: 20px 0 5px auto;
    padding: 0;
    width: 100%;
    border-top: 1px solid #999999;
    color: #999999;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
}

.pub_section_content {
    line-height: 130%;
    font-size: 16px;
    margin: auto 50px auto auto;
    clear: left;
    width: 100%;
    text-align: justify;
    padding: 10px;
    background-color: rgba(127,127,127,.1);
}